/* Style the header */
/*Header*/
.header
{
  padding: 120px;
  text-align: center;
  background: #002e4d;
  /*background: #1abc9c;*/
  color: white;
}

/*Font within header*/
.header h1
{
  font-size: 40px;
  font-family: cursive;
}

.header p
{
  font-family: cursive;
}

/*Style of top Navbar*/
.navbar
{
  background-color: #262626;
  overflow: hidden;
}

/*Style of links within navbar*/
.navbar a
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-family: cursive;
}

/*Style of for right link in navbar*/
.navbar a.right
{
  float: right;
}

/*Responsive link to change color when hovored over*/
.navbar a:hover
{
  background-color: white;
  color: black;
}

/* CSS Flexbox to handle the layout: */
*
{
  box-sizing: border-box;
}

/* Column container */
.row
{
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side
{
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}


/* Main column */
.main
{
  flex: 70%;
  background-color: black;
  padding:20%;
}

/*Flexbox direction is verticcle if screen size is less than 700px*/
@media screen and (max-width: 700px)
{
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px)
{
  .navbar a {
    float: none;
    width: 100%;
  }

.footer
{
  padding: 20px;
  text-align: center;
  background: black;
}
