<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="header">
      <h1>Welcome!</h1>
      <p>The GitHub portfolio of rp927</p>
    </div>
    <div class="navbar">
      <a href="#">LINK</a>
      <a href="#">LINK</a>
      <a href="#">LINK</a>
      <a href="#" class="right">VISIT GITHUB</a>
    </div>
    <div class="row">
      <div class="side">About Me</div>
      <div class="main">{% block content %}{% endblock %}</div>
    </div>
    <div class="footer">
      <h2>FOOTER</h2>
    </div>
  </body>
</html>
